* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(214, 255, 242);
    background-image: url(./images/cash.jpg);
    background-size: 100%;
}

h1 {
    font-size: 1.7rem;
}

img{
    width: 350px
}

.calculator-container{
    width: 350px;
    border: 6px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.781);
    /* background-color: rgba(255, 255, 255, 0.795); */
}

.results-container {
    width: 500px;
    /* border: 2px solid; */
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(230, 230, 230);

}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.8rem; */
    line-height: 2;
}

h3 {
    font-size: 1rem;
}

h2 {
    text-align: center;
    /* width: 350px; */
    line-height: 1.5;
    background-color: rgb(230, 230, 230);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    padding: 0.5rem;
    background-color: rgb(230, 230, 230);
}

input:focus {
    transform: scale(1.05);
    transition-duration: 0.4s;
}

button {
    padding: 0.5rem;
    border: 0.2rem solid black;
    /* border-radius: 0.5rem; */
    background-color: black;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

button:hover {
    cursor: pointer;

}

p {
    background-color: rgb(230, 230, 230);
    margin-bottom: 0.5rem;
    line-height: 1.5;
    text-align: right;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 0.5rem;
}